.bottom {
  padding-top: 40px;
  padding-bottom: 80px;

  color: rgba(#b1a7b1, .5);
  border-top: 3px solid #6c3d6e;

  font-size: 13px;
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: 90%;
      margin: auto;
    }
  }
}
