doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/footer/footer

  head
    +head(head.defaults)
  body
    .wrapper
      .top
        .top-left
          .title-block
            .title-block__top ПРЕДУПРЕЖДЕНИЕ!
            .title-block__bottom Этот сайт содержит откровенные сексуальные фотографии тех, кого вы можете знать.

          .form-block
            .form-block__title Регистрация: подписка на контент
            .form-block__subtitle Чтобы подключить доступ к Подписке на Контент, заполните следующую форму:

            form.form
              .form__left Ваш номер телефона:
              .form__right
                input(type="text" value="").form__field
                .form__hint Пример: +7 (916) 987 11 11 или +380 (50) 111 11 11
                .form__error Не верно введен номер
                a(href="#" title="") Стоимость услуги

                label.form__check
                  input(type="checkbox")
                  span Мне исполнилось 18 лет и Я согласен с 
                    a(href="#" title="") Правилами предоставления 
                    | Подписки на Контент. 

                input(type="submit" value="Сохранить").form__submit.btn._green

                a(href="#" title="") Я не из России или Украины

          .rules-block
            p 
              strong Правила предоставления Подписки на услугу
            p Правила предоставления услуги «Подписка на cvidanie.com» для Абонентов ПАО «МегаФон» 
            p Данные положения являются обязательными и озвучиваются в настоящих правилах на предоставление услуги «Подписка» Абонентам ПАО «МегаФон» (далее — Абонент). 
            p 1. Воспользоваться услугой «Подписка» на Интернет-ресурс «cvidanie.com» (далее — «Подписка») на указанных ниже условиях могут любые физические лица, достигшие 18 лет и являющиеся Абонентами оператора сотовой связи ПАО «МегаФон» (далее — «Оператор»). 
            p 2. Для заказа услуги «Подписка» Абонент должен располагать оборудованием, необходимым для оформления заказа и использования услуги, включая, но не ограничиваясь: мобильный телефон (или другое мобильное устройство доступа), который находится в рабочем состоянии и обеспечивает Абоненту доступ к услугам Оператора, посредством подключения данного конечного 

        .top-right
          .girl

    .bottom
      .wrapper
        p © 2016 Все права защищены. Все материалы на сайте предоставлены только для ознакомления. Администрация ресурса не несет ответственности за информацию, предоставленную из сторонних источников.

        p Услуги по коротким номерам:
          br 
          | Для получения доступа к сайту абонентам необходимо отправить ответное СМС сообщение на МО номер 2325.
          br 
          | Стоимость смс на номер 7151 для абонентов: МегаФон - 40 руб.; МТС - 42.34 руб.; Tele2 - 40.12 руб.; Билайн - 40 руб.
          br
          | Стоимость смс на номер 8151 для абонентов: МегаФон - 101.48 руб.; МТС - 101.6 руб.; Tele2 - 83.78 руб.; Билайн - 100.01 руб.
          br
          | Стоимость смс на номер 9151 для абонентов: МегаФон - 135 руб.; МТС - 135.12 руб.; Tele2 - 125.08 руб.; Билайн - 130 руб.
          br 
          | Стоимость смс на номер 9151 для абонентов других операторов около 150р.
          br 
          | Стоимость смс на номер 2858 для абонентов: МегаФон - 200.6 руб.; МТС - 203.2 руб.; Tele2 - 200.6 руб.; Билайн - 200 руб.
          br 
          | Стоимость смс на номер 2855 для абонентов: Tele2 - 236 руб.; Билайн - 200 руб.; МегаФон - 236 руб.; МТС - 240 руб.
          br 
          | Стоимость смс на номер 3855 для абонентов: Tele2 - 249.99 руб.; Билайн - 300 руб.; МегаФон - 354 руб.; МТС - 304.79 руб.
          br 
          | Стоимость смс на номер 6151 для абонентов: МегаФон - 29 руб.; МТС - 29.5 руб.; Tele2 - 25.96 руб.; Билайн - 29 руб.
          br 
          | Стоимость смс на номер 8609 для абонентов: МТС - 42 руб.; Билайн - 42 руб.; МегаФон - 42 руб.
          br 
          | Стоимость смс на номер 8619 для абонентов: Билайн - 104.88 руб.
          br 
          | Стоимость смс на номер 8610 для абонентов: МТС - 101.6 руб.; Билайн - 100.01 руб.; МегаФон - 100.01 руб.
          br 
          | Стоимость смс на номер 8611 для абонентов: МТС - 135.12 руб.; Билайн - 135 руб.; МегаФон - 135 руб.
          br 
          | Стоимость смс на номер 7155 для абонентов: Tele2 - 236 руб.; Билайн - 200 руб.; МегаФон - 236 руб.; МТС - 240 руб.
          br 
          | Стоимость смс на номер 8612 для абонентов: МТС - 203.2 руб.; Билайн - 170 руб.; МегаФон - 200 руб.
          br 
          | Стоимость смс на номер 8613 для абонентов: МТС - 240 руб.; Билайн - 200 руб.; МегаФон - 240 руб.
          br 
          | Стоимость смс на номер 3858 для абонентов: МегаФон - 300 руб.; МТС - 304.79 руб.; Tele2 - 249.99 руб.; Билайн - 300 руб.
          br 
          | Стоимость смс на номер 7255 для абонентов: Tele2 - 249.99 руб.; Билайн - 300 руб.; МегаФон - 300 руб.; МТС - 304.79 руб.
          br 
          | Стоимость смс на номер 8614 для абонентов: МТС - 304.79 руб.; Билайн - 300 руб.; МегаФон - 354 руб.
          br 
          | Стоимость указана с НДС.
          br 
          | Для Казахстана стоимость отправки СМС на номер 9685 - 449.00 тенге, с НДС.
          br 
          | Стоимость доступа по подписке составляет 20 рублей (включая НДС) за 1 день для абонентов ПАО «МегаФон»; Продление доступа по подписке происходит автоматически. Для отказа от предоставления Подписки на услугу отправьте SMS-сообщение со словом СТОП 4172 на номер 5051 для абонентов ПАО «МегаФон». Cообщение бесплатно в домашнем регионе. Служба технической поддержки ООО «Информпартнер»: 8 800 333-89-81 (звонок бесплатный), e-mail: helpdesk@informpartner.com .

  //- Main scripts. You can replace it, but I recommend you to leave it here
  script(src='%=static=%js/main%=hash=%%=min=%.js')